/* The following block can be included in a custom.scss */

/* make the customizations */

$primary: #e2b616;

$theme-colors: (
  "primary": #e2b616,
  "bg": #2e2e2e,
);

$logo-font-family: "Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif";

.navbar-brand {
  font: $logo-font-family;
  text-transform: uppercase;
  padding: 1em;
  background-color: $primary;
}
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
